.about-index {
    overflow-x: hidden;
    overflow-y: hidden;

    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .about-main {
        position: relative;

        .about__content {
            position: absolute;
            top: 320px;
            left: 320px;
            color: white;
            font-size: 48px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
        }
    }
}

.about__product {
    padding-top: 70px;

    .about__product-thumbnail {
        display: flex;
        gap: 2rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .product__item {
        position: relative;
    }


    .product__btn {
        position: absolute;
        bottom: 35px;
        left: 40%;
        background: #FFFFFF;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.04);
        border-radius: 26px;
        padding: 14px 36px;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #14517B;
    }


}

.founder-index {
    background: #FBFBFB;
    .founder-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 90px;
    }

    .title {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .founder-name {
        font-family: 'Arimo', sans-serif;
        font-size: 21px;
        padding: 15px 0;
    }
}

@media only screen and (max-width: 576px) {

    .about-index {
        img {
            height: 220px;
        }

        .about-content {
            .about__content {
                font-size: 27px;
                top: 155px !important;
                left: 5.4% !important;
            }
        }
    }

    .about__product {
        .product__btn {
            left: 50%;
            bottom: 56px;
            font-size: 16px;
            transform: translate(-50%, 50%);
        }

        .about__product-thumbnail {
            flex-wrap: wrap;
        }
    }

    .founder-index {
        .founder-wrapper {
            .founder-item {
                width: 48%;

                img {
                    width: 100%;
                }

                .founder-name {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    
    .about-index {
        img {
            height: 220px;
        }
    }

    .about__product {
        .product__btn {
            left: 37%;
            font-size: 16px;
        }

        .about__product-thumbnail {
            flex-wrap: wrap;
            text-align: center;

            img {
                width: 80%;
            }
        }
    }

    .founder-index {
        .founder-wrapper {
            .founder-item {
                width: 48%;

                img {
                    width: 100%;
                }

                .founder-name {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about-index {
        img {
            height: 220px;
        }
    }

    .about__product {
        .product__btn {
            left: 29%;
            font-size: 16px;
        }

        .about__product-thumbnail {
            flex-wrap: nowrap;
            text-align: center;

            img {
                width: 100%;
            }
        }
    }

    .founder-index {
        .founder-wrapper {
            .founder-item {
                width: 48%;

                img {
                    width: 100%;
                }

                .founder-name {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about-index {
        img {
            height: 220px;
        }
    }

    .about__product {
        .product__btn {
            left: 35%;
            font-size: 16px;
        }

        .about__product-thumbnail {
            flex-wrap: nowrap;
            text-align: center;

            img {
                width: 100%;
            }
        }
    }

    .founder-index {
        .founder-wrapper {
            .founder-item {
                width: 23.7%;

                img {
                    width: 100%;
                }

                .founder-name {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .about-index {
        img {
            height: 327px;
        }
    }

    .about__product {
        .product__btn {
            left: 35%;
            font-size: 16px;
        }

        .about__product-thumbnail {
            flex-wrap: nowrap;
            text-align: center;

            img {
                width: 100%;
            }
        }
    }

    .founder-index {
        .founder-wrapper {
            .founder-item {
                width: 23.7%;

                img {
                    width: 100%;
                }

                .founder-name {
                    font-size: 1.1rem;
                }
            }
        }
    }
}