.delivery__information{
    padding-bottom: 20px;
    h1{
        font-size: 26px;
        font-weight: bold;
        font-family: 'Arimo',sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}