/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37%;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 4px;
  border: none;
}
.modal-box .MuiTextField-root {
  width: 100% !important;
  padding-bottom: 30px;
}
.modal-box .submit-btn {
  text-align: center;
  padding-bottom: 20px;
}
.modal-box #transition-modal-title {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
}
.modal-box .modal__body {
  padding: 10px 80px;
}
.modal-box #transition-modal-description {
  padding-bottom: 20px;
}

.login-index {
  background-color: #4070f4;
}
.login-index .forms {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 60px 0;
}
.login-index .form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #FFF;
}
.login-index .form.signup {
  opacity: 0;
  pointer-events: none;
}
.login-index .forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.login-index .forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}
.login-index header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
.login-index form {
  margin-top: 30px;
}
.login-index .form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.login-index .field input,
.login-index .field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.login-index .field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #CACACA;
}
.login-index .field input:focus {
  border-bottom-width: 2px;
}
.login-index .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.login-index .field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}
.login-index .field button:hover {
  background-color: #016dcb;
}
.login-index .form-link {
  text-align: right;
  margin-top: 10px;
}
.login-index .form-link-signup {
  margin-top: 10px;
  text-align: left;
}
.login-index .form-link span,
.login-index .form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.login-index .form a {
  color: #0171d3;
  text-decoration: none;
}
.login-index .form-content a:hover {
  text-decoration: underline;
}
.login-index .line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.login-index .line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
.login-index .media-options a {
  padding-left: 20px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.login-index a.facebook {
  color: #fff;
  background-color: #4267b2;
}
.login-index a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.login-index .facebook-icon,
.login-index img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.login-index img.google-img {
  height: 20px;
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.login-index a.google {
  border: 1px solid #CACACA;
}
.login-index a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}
@media screen and (max-width: 400px) {
  .login-index .form {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 576px) {
  .login-index .forms {
    padding: 60px 12px;
  }
  .modal-box {
    width: 85%;
    height: 70%;
  }
  .modal-box #transition-modal-title {
    font-size: 1rem;
  }
  .modal-box .modal__body {
    padding: 10px 40px;
  }
  .modal-box .submit-btn {
    text-align: left;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .modal-box {
    width: 85%;
    height: 70%;
  }
  .modal-box #transition-modal-title {
    font-size: 1rem;
  }
  .modal-box .modal__body {
    padding: 10px 40px;
  }
  .modal-box .submit-btn {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .modal-box {
    width: 65%;
    height: 60%;
  }
  .modal-box #transition-modal-title {
    font-size: 1rem;
  }
  .modal-box .modal__body {
    padding: 10px 40px;
  }
  .modal-box .submit-btn {
    text-align: left;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .modal-box {
    width: 60%;
    height: 60%;
  }
  .modal-box #transition-modal-title {
    font-size: 1rem;
  }
  .modal-box .modal__body {
    padding: 10px 40px;
  }
  .modal-box .submit-btn {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .modal-box {
    width: 47%;
    height: 45%;
  }
  .modal-box #transition-modal-title {
    font-size: 1rem;
  }
  .modal-box .modal__body {
    padding: 10px 40px;
  }
  .modal-box .submit-btn {
    text-align: left;
  }
}/*# sourceMappingURL=login.css.map */