/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.register-index {
  background-color: #4070f4;
}
.register-index .forms {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 60px 0;
}
.register-index .form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #FFF;
}
.register-index .form.signup {
  opacity: 0;
  pointer-events: none;
}
.register-index .forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.register-index .forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}
.register-index header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
.register-index form {
  margin-top: 30px;
}
.register-index .form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.register-index .field input,
.register-index .field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.register-index .field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #CACACA;
}
.register-index .field input:focus {
  border-bottom-width: 2px;
}
.register-index .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.register-index .field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}
.register-index .field button:hover {
  background-color: #016dcb;
}
.register-index .form-link {
  text-align: right;
  margin-top: 10px;
}
.register-index .form-link-signup {
  margin-top: 10px;
  text-align: left;
}
.register-index .form-link span,
.register-index .form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.register-index .form a {
  color: #0171d3;
  text-decoration: none;
}
.register-index .form-content a:hover {
  text-decoration: underline;
}
.register-index .line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.register-index .line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
.register-index .media-options a {
  padding-left: 20px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.register-index a.facebook {
  color: #fff;
  background-color: #4267b2;
}
.register-index a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.register-index .facebook-icon,
.register-index img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.register-index img.google-img {
  height: 20px;
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.register-index a.google {
  border: 1px solid #CACACA;
}
.register-index a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}
@media screen and (max-width: 400px) {
  .register-index .form {
    padding: 20px 10px;
  }
}/*# sourceMappingURL=register.css.map */