.shopping-cart {
  /* Global settings */
  $color-border: #eee;
  $color-label: #aaa;
  $font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  $font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


  /* Global "table" column settings */
  .product-image {
    float: left;
    width: 20%;
  }

  .product-details {
    float: left;
    width: 37%;
  }

  .product-price {
    float: left;
    width: 12%;
  }

  .product-quantity {
    float: left;
    width: 10%;
  }

  .product-removal {
    float: left;
    width: 9%;
  }

  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }


  .group:before,
  .group:after {
    content: '';
    display: table;
  }

  .group:after {
    clear: both;
  }

  .group {
    zoom: 1;
  }


  .shopping-cart,
  .column-labels,
  .product,
  .totals-item {
    @extend .group;
  }

  .product .product-price:before,
  .product .product-line-price:before,
  .totals-value:before {
    content: '$';
  }

  label {
    color: $color-label;
  }

  .shopping-cart {
    margin-top: -45px;
  }

  .column-labels {
    label {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $color-border;
    }

  }

  .product-unshow {
    text-indent: -999999999px;
  }


  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    .product-image {
      text-align: center;

      img {
        width: 75px;
      }
    }

    .product-details {
      padding-top: 30px;

      .product-title {
        margin-right: 20px;
        font-family: $font-bold;
      }

      .product-description {
        padding-top: 30px;
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
      }
    }

    .product-price {
      padding-top: 30px;
    }

    .product-quantity {
      padding-top: 30px;

      input {
        width: 40px;

      }
    }

    .product-line-price {
      padding-top: 30px;
    }

    .remove-product {
      border: 0;
      padding: 4px 8px;
      background-color: #c66;
      color: #fff;
      font-family: $font-bold;
      font-size: 12px;
      border-radius: 3px;
    }

    .remove-product:hover {
      background-color: #a44;
    }
  }


  /* Totals section */
  .totals {
    .totals-item {
      float: right;
      clear: both;
      width: 100%;
      margin-bottom: 10px;

      label {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
      }

      .totals-value {
        float: right;
        width: 21%;
        text-align: right;
      }
    }

    .totals-item-total {
      font-family: $font-bold;
    }
  }

  .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }

  .checkout:hover {
    background-color: #494;
  }
}

.cart__totals {
  width: 45% !important;

  .content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 10px;

    &:last-child {
      border: none;
    }
  }

  .checkout-btn {
    background: #D6763C;
    margin-top: 35px;
    padding: 18px 36px;
  }
}

.breadcrumb-main{
  margin: 45px 0 !important;
  .breadcrumb-item{
    color: #888888 !important;
    font-family: 'Arimo',sans-serif;
  }
  .breadcrumb-base{
    font-weight: bold;
    font-family: 'Arimo',sans-serif;
    margin-bottom: 0 !important;
  }
}


@media screen and (max-width: 576px){
    .cart__totals{
      width: 100% !important;
      .checkout-btn{
        padding: 18px 9px;
      }
    }
    .shopping-cart{
      .product{
        img{
          max-width: 100%;
        }
        .product-title{
          margin-left: 10px;
        }
        .product-price{
          margin-left: -5px;
        }
        .product-line-price{
          margin-left: 5px;
        }
      }
    }
    
}

@media screen and  (min-width: 576px) and (max-width: 768px){
  .cart__totals{
    margin-top: 10px !important;
    width: 100% !important;
    .checkout-btn{
      padding: 18px 9px;
    }
  }
  .shopping-cart{
    .product{
      img{
        max-width: 100%;
      }
      .product-title{
        margin-left: 10px;
      }
      .product-price{
        margin-left: -5px;
      }
      .product-line-price{
        margin-left: 5px;
      }
    }
  }
  
}

@media screen and  (min-width: 768px) and (max-width: 992px){
  .cart__totals{
    margin-top: 10px !important;
    width: 100% !important;
    .checkout-btn{
      padding: 18px 9px;
    }
  }
  .shopping-cart{
    .product{
      img{
        max-width: 100%;
      }
      .product-title{
        margin-left: 10px;
      }
      .product-price{
        margin-left: -5px;
      }
      .product-line-price{
        margin-left: 5px;
      }
    }
  }
  
}

@media screen and  (min-width: 992px) and (max-width: 1200px){
  .cart__totals{
    margin-top: 10px !important;
    width: 100% !important;
    margin-bottom: 25px;
    .checkout-btn{
      padding: 18px 9px;
    }
  }
  .shopping-cart{
    .product-unshow{
      text-indent: 0px;
    }
    .product{
      img{
        max-width: 100%;
      }
      .product-title{
        margin-left: 10px;
      }
      .product-price{
        margin-left: -5px;
      }
      .product-line-price{
        margin-left: 5px;
      }
    }
  }
  
}

@media only screen and (min-width: 1200px){
  .cart__totals{
    margin-top: 10px !important;
    width: 43% !important;
    margin-bottom: 32px;
    .checkout-btn{
      padding: 18px 9px;
    }
  }
  .shopping-cart{
    .product-unshow{
      text-indent: 0px;
    }
    .product{
      img{
        max-width: 100%;
      }
      .product-title{
        margin-left: 10px;
      }
      .product-price{
        margin-left: -5px;
      }
      .product-line-price{
        margin-left: 5px;
      }
    }
  }
  
}